$white : #fafafa;

.bg-backdrop {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .overlay-white {
    background-color: rgba($color: $white, $alpha: .8);
    padding: 45px 0;
    min-height: 800px; 
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.fa-facebook-square {
        color: #3b5999;
}

.fa-instagram {
    color: #e4405f;
}

.fa-twitter-square {
    color: #55acee;
}

.fa-imdb {
    background-color: #000;
    color: #f5c518;
}

h1 {
    margin-bottom: 0px;
}

img {
    height: auto;
    max-width: 280px;
}