<section class="bg-backdrop" [ngStyle]="{ 'background-image': 'url(' + backdropURL + (movie | async)?.backdrop_path + ')'}">
  <div class="overlay-white col-lg-8 mx-auto">
    <div class="d-flex col-lg-10 mx-auto justify-content-between">
      <div class="container-left">
        <h1>{{ (movie | async)?.title }}</h1>
        <h5>Titre original :
          <span class="font-italic">{{ (movie | async)?.original_title }}</span>
        </h5>
        <p class="m-0">{{ (movie | async)?.genres[0].name }}, {{ (movie | async)?.genres[1].name }}</p>
        <p>{{ (movie | async)?.release_date | date: 'mediumDate':'undefined':'fr' }}, {{ (movie | async)?.production_countries[0].name}}</p>
        <hr>
        <h3>Synopsis :</h3>
        <p class="px-5">{{ (movie | async)?.overview }}</p>
      </div>
      <div class="container-right">
        <img class="mb-3" src="{{posterURL}}{{(movie | async)?.poster_path}}" alt="Poster de {{(movie | async)?.title}}">
        <div class="mb-3">Note spectateurs :
          <span class="font-weight-bold"> {{ (movie | async)?.vote_average | number: '1.0-1' }} / 10</span>
        </div>
        <div class="mx-auto d-flex justify-content-around px-5">
          <a href="https://imdb.com/title/{{(external_id | async)?.imdb_id}}" alt="Lien vers la page Imdb de {{(movie | async)?.title}}"
            target="_blank">
            <i class="fa fa-imdb fa-2x" aria-hidden="true"></i>
          </a>
          <a href="https://facebook.com/{{(external_id | async)?.facebook_id}}" alt="Lien vers la page Facebook de {{(movie | async)?.title}}"
            target="_blank">
            <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
          </a>
          <a href="https://instagram.com/{{(external_id | async)?.instagram_id}}" alt="Lien vers la page Instagram de {{(movie | async)?.title}}"
            target="_blank">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          </a>
          <a href="https://twitter.com/{{(external_id | async)?.twitter_id | json }}" alt="Lien vers la page Twitter de {{(movie | async)?.title}}"
            target="_blank">
            <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
          </a>
        </div>
        <a routerLink="/rent/{{ id }}" class="my-3 d-flex justify-content-center">
          <button class="btn btn-warning waves-light d-block" mdbWavesEffect>Louer</button>
        </a>
      </div>
    </div>
    <app-casting></app-casting>
  </div>
</section>