
<footer class="page-footer elegant-color pt-4 orange-line-top">

    <div class="container-fluid text-center text-md-left px-5">
        <div class="d-flex">

            <div class="col-md-6">
                <h5 class="title">CinéClick</h5>
                <p>Cherchez, louez, éclatez-vous !</p>
            </div>

            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">Politique de confidentialité</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="footer-copyright text-center pb-3">
            © 2018 Clement Causer
    </div>
</footer>