section {
    border-top: solid 2px #ff8800;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.related-title {
    padding: 36px 0 0px 36px;
}

.related-movie-card {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: inherit;
}

.movie-card {
    width: 300px;
    height: 400px;
}

.movie-card-img {
    background-color: tomato;
    border-radius: 0 5px 0 0;
    transform: scale(2.7);
    max-height: 250px;
    width: auto;
    margin: 0 auto;
}

.movie-card-footer {
    height: 50%;
    border-radius: 0 0 5px 5px;
    color: #fafafa; 
}

img {
    width: 100%;
    height: 169px;
}

.color-white {
    color: #fafafa;
}

.more-info {
    border-radius: 0 5px 0 0;
    padding: 10px;
    background-color: rgb(233, 76, 76);
}