<section>
  <h5 class="related-title">Filmographie de
    <span class="font-weight-normal"> "{{ (casting | async)?.name}}"</span> :</h5>
  <div class="scrolling-wrapper">
    <div *ngFor="let movieByCast of (moviesByCast | async)?.cast" class="d-inline-flex">
      <div class="movie-card m-4">
        <div class="view overlay">
          <img class="movie-card-img" src="{{posterURL}}{{movieByCast.poster_path}}">
          <div class="mask flex-center rgba-orange-light">
            <a routerLink="/movie/{{ movieByCast.id }}" class="color-white font-weight-bold more-info">Plus d'infos</a>
          </div>
        </div>

        <div class="movie-card-footer p-2 text-center d-flex flex-column justify-content-between elegant-color">
          <h3 class="text-truncate">{{ movieByCast.title }}</h3>
          <div class="d-flex justify-content-around">
            <p>{{ movieByCast.release_date | date:'yyyy'}}, {{ movieByCast.original_language }}</p>
            <p>{{ movieByCast.genre_ids[0] | searchGenres }}, {{ movieByCast.genre_ids[1] | searchGenres }}</p>
          </div>
          <a routerLink="/movie/{{ movieByCast.id }}">
            <button class="btn btn-warning waves-light" mdbWavesEffect>Louer</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>