<div class="orange-line-bot">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color-dark py-3">

        <logo>
            <a class="navbar-brand mr-5" routerLink="/">CinéClick</a>
        </logo>

        <links class="ml-5">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown mx-3" dropdown>
                    <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>Trouver un film
                        <span class="caret"></span>
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbRippleRadius href="#">Par genre</a>
                        <a class="dropdown-item waves-light" mdbRippleRadius href="#">Par année</a>
                        <a class="dropdown-item waves-light" mdbRippleRadius href="#">Par note utilisateur</a>
                    </div>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link waves-light" mdbRippleRadius>Suggestions</a>
                </li>
            </ul>
            <form class="form-inline waves-light" mdbRippleRadius>
                <input class="form-control mr-sm-2" type="text" name="searchMovie" placeholder="Chercher un film..." elegant-color [(ngModel)]="query">
                <button mdbWavesEffect (click)="onSearch(); $event.preventDefault()">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <div class="ml-5">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown mx-3" dropdown *ngIf="!isAuth">
                        <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                            <i class="fa fa-user fa-2x"></i>
                            <span class="caret"></span>
                        </a>
                        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                            <a routerLink="/signin" class="dropdown-item waves-light" mdbRippleRadius href="#">Se connecter</a>
                            <a routerLink="/signup" class="dropdown-item waves-light" mdbRippleRadius href="#">S'enregistrer</a>
                        </div>
                    </li>
                    <li *ngIf="isAuth" class="nav-link">
                        <a (click)="onSignOut()">Déconnexion </a>
                        <a (click)="onSignOut()">
                            <button>
                                <i class="fa fa-user-times fa-2x"></i>
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </links>
    </mdb-navbar>
</div>
<div class="d-flex flex-wrap">

    <app-movie-card *ngFor="let movie of movies" [id]="movie.id" [title]="movie.title" [year]="movie.release_date" [language]="movie.original_language"
        [genre1]="movie.genre_ids[0]" [genre2]="movie.genre_ids[1]" [backdrop]="movie.backdrop_path"></app-movie-card>
</div>