.fa-search {
    color: #fafafa;
}

.fa-user-times {
    color: #fafafa;
}

.fa-user-plus {
    color: #fafafa;
}

.fa-user {
    color: #fafafa;
}

button {
    background-color: transparent;
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.orange-line-bot {
    border-bottom: 2px solid #FF8800;
}

input {
    padding-left: 10px;
}

input:focus {
    background-color: #2E2E2E;
    transition: ease-in-out, background-color .35s ease-in-out;
}

span {
    color : #fafafa;
}