<hr class="col-8">
<section class="pt-5">
  <h3>Casting :</h3>
  <div class="p-5">
    <ul *ngFor="let cast of (casting | async)?.cast | slice:0:12" class="d-inline-flex flex-column align-items-center col-3 py-2">
      <li>
        <div class="view overlay">
          <img src="{{ profilePic }}{{ cast.profile_path}}" alt="Photo de {{ cast.name }}">
          <a routerLink="/people/{{ cast.id }}">
            <div class="mask rgba-orange-light">
            </div>
          </a>
        </div>
      </li>
      <li class="text-truncate">
        <a routerLink="/people/{{ cast.id }}">
          {{ cast.character }}
        </a>
      </li>
      <li class="font-weight-bold">
        <a routerLink="/people/{{ cast.id }}">
          {{ cast.name }}
        </a>
      </li>
    </ul>
  </div>
</section>