<section>
  <div class="py-3 text-center orange-line-bot">
    <h1>Les films de {{ currentYear }} les mieux notés :</h1>
  </div>
  <div class="d-flex justify-content-around py-5 flex-wrap">
      <app-movie-card *ngFor="let theaterMovie of (theaterMovies | async)?.results | slice:0:4" [id]="theaterMovie.id" [title]="theaterMovie.title" [year]="theaterMovie.release_date" [language]="theaterMovie.original_language" [genre1]="theaterMovie.genre_ids[0]" [genre2]="theaterMovie.genre_ids[1]" [backdrop]="theaterMovie.backdrop_path"></app-movie-card>
  </div>
</section>