<section class="mb-5">
 <!-- genre  annee  pays  input pour search  bouton pour search -->
  <div class="orange-line-top py-3 text-center">
    <h3>Vous ne trouvez pas votre bonheur ?</h3>
  </div>
  <div class="d-flex">
    <h5>Faites une recherche avancée :</h5>

    <form>
      <input type="text" placeholder="Titre du film">
      <label for="search-genre">Genre :</label>
      <select name="" id="search-genre">
        <option *ngFor="let genre of genres" value="">{{genre.fr}}</option>
      </select>
      <label for="search-year">Année :</label>
      <select name="" id="search-year">
        <option *ngFor="let year of years" value="">{{year}}</option>
      </select>
      <div class="d-flex">
        <label for="search-country">Pays :</label>
        <select name="search-country" id="search-country"></select>
      </div>
      <button class="btn btn-primary" (click)="onSearch(); $event.preventDefault()">Rechercher</button>
    </form>
    
  </div>

</section>