<section>
  <div class="py-3 text-center orange-line-bot" id="section-alaune">
    <h1>Les films de {{ currentYear }} les mieux notés :</h1>
  </div>
  <div class="d-flex justify-content-around py-5 flex-wrap">
      <app-movie-card *ngFor="let lastMovie of lastMovies | slice:0:4" [id]="lastMovie.id" [title]="lastMovie.title" [year]="lastMovie.release_date" [language]="lastMovie.original_language" [genre1]="lastMovie.genre_ids[0]" [genre2]="lastMovie.genre_ids[1]" [backdrop]="lastMovie.backdrop_path"></app-movie-card>
  </div>
</section>