a {
    color: inherit;
}

.movie-card {
    width: 300px;
    height: 400px;
}

.movie-card-img {
    background-color: tomato;
    border-radius: 0 5px 0 0;
}

.movie-card-footer {
    height: 50%;
    border-radius: 0 0 5px 5px;
    color: #fafafa; 
}

img {
    width: 100%;
    height: 169px;
}

.color-white {
    color: #fafafa;
}

.more-info {
    border-radius: 0 5px 0 0;
    padding: 10px;
    background-color: rgb(233, 76, 76);
}