<div class="movie-card m-4">

  <div class="view overlay">
    <img class="movie-card-img" src="{{image300URL}}{{backdrop}}">
    <div class="mask flex-center rgba-orange-light">
      <a routerLink="/movie/{{ id }}" class="color-white font-weight-bold more-info">Plus d'infos</a>
    </div>
  </div>
  
  <div class="movie-card-footer p-2 text-center d-flex flex-column justify-content-between elegant-color">
    <h3 class="text-truncate">{{ title }}</h3>
    <div class="d-flex justify-content-around">
      <p>{{ year | date:'yyyy'}}, {{ language }}</p>
      <p>{{ genre1 | searchGenres }}, {{ genre2 | searchGenres }}</p>
    </div>
    <a routerLink="/movie/{{ id }}"><button class="btn btn-warning waves-light" mdbWavesEffect>Louer</button></a>
  </div>
</div>