<section class="bg-backdrop py-5" [ngStyle]="{ 'background-image': 'url(' + backdropURL + (casting | async)?.backdrop_path + ')'}">
  <div class="overlay-white col-lg-8 mx-auto">
    <div class="d-flex col-lg-10 mx-auto justify-content-between">
      <div class="container-left">
        <h1>{{ (casting | async)?.name }}</h1>
        <p class="m-0">Né(e) le {{ (casting | async)?.birthday | date: 'mediumDate':'undefined':'fr'}} à {{ (casting | async)?.place_of_birth}}</p>
          <p *ngIf=""> décédé le {{ (casting | async)?.deathday | date: 'mediumDate':'undefined':'fr'}}</p>
        <hr>
        <h3>Biographie :</h3>
        <p class="px-5">{{ (casting | async)?.biography }}</p>
      </div>
      <div class="container-right">
        <img class="mb-3" src="{{profileURL}}{{(casting | async)?.profile_path}}" alt="Poster de {{(casting | async)?.name}}">
        <h5>Ses films marquants :</h5>
        <ul *ngFor="let bestMovie of (bestMovies | async)?.results | slice:0:4">
          <li><a routerLink="/movie/{{ bestMovie.id }}">{{ bestMovie.title}}</a></li>
        </ul>
        <div class="mx-auto d-flex justify-content-around">
          <a href="https://imdb.com/name/{{(cast_external_id | async)?.imdb_id}}" alt="Lien vers la page Imdb de {{(casting | async)?.name}}"
            target="_blank">
            <i class="fa fa-imdb fa-2x" aria-hidden="true"></i>
          </a>
        </div>
        <a routerLink="/rent/{{ id }}" class="my-3 d-flex justify-content-center">
          <button class="btn btn-warning waves-light d-block" mdbWavesEffect>Louer</button>
        </a>
      </div>
    </div>
  </div>
  
</section>