<section>
  <h5 class="related-title">Si vous aimez <span class="font-weight-bold"> "{{ (movie | async)?.title}}"</span>, nous vous suggérons également :</h5>
  <div class="scrolling-wrapper">
    <div *ngFor="let relatedMovie of (relatedMovies | async)?.results | slice:0:10" class="d-inline-flex">
      <app-movie-card [id]="relatedMovie.id" [title]="relatedMovie.title" [year]="relatedMovie.release_date" [language]="relatedMovie.original_language"
        [genre1]="relatedMovie.genre_ids[0]" [genre2]="relatedMovie.genre_ids[1]" [backdrop]="relatedMovie.backdrop_path"></app-movie-card>
    </div>
  </div>
</section>