<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-slide *ngFor="let movie of movies | slice:0:6">
        <div class="view mx-auto">
            <img class="d-block w100" src="{{image1280URL}}{{movie.backdrop_path}}" alt="Affiche de {{movie.title}}">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h2 class="h2-responsive font-weight-bold">{{ movie.title }}</h2>
            <h4 class="h4-responsive">Film {{ movie.genre_ids[0] | searchGenres }}</h4>
            <h5 class="p-responsive">Date de sortie le {{ movie.release_date | date: 'mediumDate':'undefined':'fr'}}</h5>
            <a routerLink="/movie/{{ movie.id }}">
                <button class="btn btn-warning waves-light" mdbWavesEffect>Plus d'infos</button>
            </a>
        </div>
    </mdb-slide>

</mdb-carousel>