<div class="my-5 d-flex justify-content-center">
  <div class="col-4">
    <h2 class="mb-3">Créer un compte :</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email : </label>
        <input type="text" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
          <label for="password">Mot de passe : </label>
          <input type="password" class="form-control" formControlName="password">
        </div>
        <button class="btn btn-warning" type="submit" [disabled]="signUpForm.invalid">Créer mon compte</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>